<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<!-- <p *ngIf="isAuthenticated">Bem-vindo ({{userLogged?.user?.name}})</p> -->
<div class="container">
  <button class="btn-primary" (click)="CleanFields()">{{showList ? 'Novo Usuário' : 'Lista de Usuário'}}</button>
  <p>Usuários {{users.length}}</p>
  <div class="row">
    <div class="col-12">
      <div *ngIf="showList && isAuthenticated" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ações</th>
              <th scope="col">Id </th>
              <th scope="col">Nome </th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">
                <button class="btn-primary" (click)="openDetails(user)">Editar</button>
                <button class="btn-danger" (click)="delete(user)">Excluir</button>
              </th>
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="!showList">
    <form>
      <div class="form-group spaced">
        <label for="exampleInputName">Nome:</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="name" placeholder="Nome"
          [(ngModel)]="user.name" name="name">

      </div>
      <div class="form-group spaced">
        <label for="exampleInputEmail">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" [(ngModel)]="user.email"
          name="email">
      </div>
      <div class="form-group spaced">
        <label for="exampleInputEmail">Senha:</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Senha"
          [(ngModel)]="user.password" name="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
    </form>
  </div>

  <div *ngIf="!isAuthenticated && showList">
    <form>
      <div class="form-group spaced">
        <label for="exampleInputEmail">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" [(ngModel)]="userLogin.email" name="email">
      </div>
      <div class="form-group spaced">
        <label for="exampleInputEmail">Password:</label>
        <input type="text" class="form-control" id="exampleInputPassword" placeholder="Password" [(ngModel)]="userLogin.password" name="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="authenticate()">Login</button>
    </form>
  </div>