/* You can add global styles to this file, and also import other style files */

a {
    color: #0366d6;
  }

  code {
    color: #e01a76;
  }
  
  .form-background {
    background-color: #6eb1cf;
  }

  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

  .btn-danger {
    color: #fff;
    background-color: #c21b1b;
    border-color: #c21b1b;
  }

  .spaced {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .spaced-label {
    margin-right: 10px;
  }

  .small-input {
    width: 200px; /* Adjust as needed */
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
